body {
    font-family: Arial, sans-serif;
    background-color: darkslateblue;
}

footer {
    background-color: #343a40;
    color: white;
}

footer a {
    color: #f8f9fa;
}

footer a:hover {
    text-decoration: underline;
}

.card-img-top {
    height: 400px;
}